* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* ============== header section =============== */
.header {
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 230px;
    padding-top: 216px;
    padding-bottom: 166px;
    display: flex;
    justify-content: flex-end;
}

.header-container {
    width: 475px;
    text-align: right;
}

.header-title,
.header-description {
    color: #FFFFFF;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 30px 0;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 25px;
    border-style: none;
    border-radius: 5px;
}

/* ============== my failure section =============== */
.my-failure {
    padding: 130px 230px;
    display: flex;
}

.failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 90px 0px;

}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #151414;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 30px;
    margin-bottom: 24px;
}

ul {
    list-style: none;
}

ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
}

ul li img {
    margin-right: 10px;
}

/* ============== my plans section =============== */
.my-plans {
    padding: 0 230px;
    text-align: center;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 20px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* ============== call now section =============== */
.call-now {

    margin: 130px 230px;
    background-image: linear-gradient(to right, #005FAC, rgba(0, 0, 0, 0)), url(../images/watch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.positive-mind {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 65px;
    width: 460px;
}

.positive-mind-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* footer section */

.footer {
    padding: 130px 230px;
    background-color: #151414;
    color: #FFFFFF;
    display: flex;
    gap: 330px;
    justify-content: space-between;
}

.add-title {
    font-weight: 700;
    font-size: 45px;
}

.add-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    line-height: 26px;
}

.social-link {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}


.sub-title {
    font-weight: 600;
    font-size: 25px;
}

.email-form {
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: none;
    width: 240px;
}

.sub-btn {
    background-color: #005FAC;
    color: #FFFFFF;
}